---
import { Image } from "astro:assets";
import type { Playlist } from "@/lib/data";
type Props = Playlist;

const { id, title, cover, artists } = Astro.props;
const joinedArtists = artists.join(", ");
---

<a
  class="playlist-item p-2 grid grid-rows-[auto_5rem] grid-cols-1 gap-3 rounded-md bg-zinc-800 hover:bg-zinc-700 transition-colors"
  href={`/playlists/${id}`}
>
  <picture>
    <Image
      class="object-cover w-full h-full rounded-md"
      src={cover}
      alt={`Cover of ${title} by ${joinedArtists}`}
			width={154}
			height={154}
			loading="eager"
    />
  </picture>

  <div class="truncate">
    <h4 class="text-md text-white">{title}</h4>
    <span class="text-sm text-gray-400">{joinedArtists}</span>
  </div>
</a>
